<small id="foot">
  <a href="https://github.com/smithbarlow/smithbarlow.xyz">{{ .Site.Copyright }}<br>
</small>
<a href='{{ absURL "index.xml" }}'>
    <img id="rss" src="/images/rss.svg" alt="button for my RSS feed">
</a>
<a href="https://linkedin.com/in/smith-barlow">
    <img id="linkedin" src="/images/linkedin.png" alt="button for my LinkedIn profile">
</a>
<a href="https://github.com/smithbarlow">
    <img id="github" src="/images/github.png" alt="button for my Github profile">
</a>
<a href="http://v55dqkmukq7hl6hty5sn6wlbcfn6ldadxt3h4wuynb2dyonpu5hrcmyd.onion">
	<img id="tor" src="/images/tor.png" alt="button for my Tor service">
</a>