#logo {
	margin-right: 12.5px;
    display: inline-block;
    width: 50px;
    height: 50px;
	float: left;
}
#small-text {
font-size: 1px;
}
footer a{
text-decoration: none;
color: white;
}
#rss {
margin-top: 12.5px;
width: 30px;
height: 30px;
padding: 0px 10px 0 10px;
}
#linkedin {
margin-top: 12.5px;
width: 30px;
height: 30px;
padding: 0px 10px 0 10px;
}
#github {
margin-top: 12.5px;
width: 30px;
height: 30px;
padding: 0px 10px 0 10px;
}
#tor {
margin-top: 12.5px;
width: 30px;
height: 30px;
padding: 0px 10px 0px 10px;
}